<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Add Product</h1>
<form th:action="@{/create}" method="post">
    <table>
        <tr>
            <td><input type="text" name="name" placeholder="Product name"></td>
        </tr>
        <tr>
            <td><input type="text" name="price" placeholder="Product Price"></td>
        </tr>
        <tr>
            <td><input type="text" name="description" placeholder="Product Description"></td>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="company">
                    <option disabled selected>Choose Company</option>
                    <option th:each="company : ${companies}"
                            th:value="${company.id}"
                            th:text="${company.name}"></option>

                </select>
            </td>
        </tr>
        <tr>
            <td><input type="text" name="cDescription" placeholder="Company Description"></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-success" value="send">
</form>
</body>
</html>