<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Product List</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price} + ' DKK'"></td>
        <td th:text="${product.description}"></td>
        <td><a th:href="@{'/update/' + ${product.id}}" class="btn btn-info">update</a>&nbsp;
            <a th:href="@{'/delete/' + ${product.id}}" class="btn btn-danger">delete</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/create}" class="btn btn-primary" role="button">Add Product</a>
</body>
</html>