<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Product Detail</h1>
<table class="table">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Company Description</th>
        <th>Categories</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${company.name}"></td>
        <td th:text="${company_desc.CDescription}"></td>
        <td th:each="category : ${categories}" th:text="${category.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>